<header class="header">
    <div class="container">
        <div class="header__container">
            <img class="logo" src="images/logo.png" alt="Логотип">
            <nav class="navigation">
                <ul class="menu">
                    <li class="item">
                        <a class="link" href="#"><span> подбор тура</span></a>
                    </li>
                    <li class="item">
                        <a class="link active" href="#tours">горящие туры</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#">страны</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#">отели</a>
                    </li>
                </ul>
            </nav>
            <div class="left">
                <div class="actions">
                    <button class="btn">
                        оставить заявку
                    </button>
                    <div class="icons">
                        <div class="icon__inner">
                            <svg class="icon icon--phone">
                                <use xlink:href="images/sprite.svg#icon--phone"></use>
                            </svg>
                            <div class="box">
                                <a class="box__link" href="tel:+8005001010">
                                    <span class="box__text">+ 8 (495) 800-10-10</span>
                                </a>
                                <a class="box__link" href="tel:+8005001010">
                                    <span class="box__text">+ 8 (495) 800-10-10</span>
                                </a>
                            </div>
                        </div>
                        <div class="icon__inner">
                            <svg class="icon icon--map">
                                <use xlink:href="images/sprite.svg#icon--map"></use>
                            </svg>
                            <div class="box">
                                <span class="box__text">Москва Россошанский проезд, дом 3, (1‑й этаж)</span>
                            </div>
                        </div>
                    </div>
                    <span class="actions__line"></span>
                </div>
                <div class="burger">
                    <button class="burger-btn" id="burger" aria-label="Открыть выпадающее меню">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="menu">
        <div class="burger-menu__inner">
            <div class="burger-menu__item burger-menu-item">
                <p class="burger-menu-item__title">популярные страны</p>
                <ul class="burger-menu-item__list burger-list">
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Турция</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Египет</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Мальдивы</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">ОАЭ</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Куба</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Шри-Ланка</a>
                    </li>
                </ul>
            </div>
            <div class="burger-menu__item burger-menu-item">
                <p class="burger-menu-item__title">туристам</p>
                <ul class="burger-menu-item__list burger-list">
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Страны</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Отели</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Подбор тура</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#tours" class="burger-list__link active">Горящие туры</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Как купить и оплатить тур</a>
                    </li>
                </ul>
            </div>
            <div class="burger-menu__item burger-menu-item">
                <p class="burger-menu-item__title">компания</p>
                <ul class="burger-menu-item__list burger-list">
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">О нас</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Отзывы</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Контакты</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Новости</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Priority</a>
                    </li>
                    <li class="burger-list__item">
                        <a href="#" class="burger-list__link">Агентам</a>
                    </li>
                </ul>
            </div>

            <div class="burger-menu__actions">
                <button class="btn">
                    оставить заявку
                </button>
                <div class="icons">
                    <a class="icon" href="tel:+8005001010">
                        <svg class="icon icon--map">
                            <use xlink:href="images/sprite.svg#icon--phone"></use>
                        </svg>
                    </a>
                    <a class="icon" href="#">
                        <svg class="icon icon--map">
                            <use xlink:href="images/sprite.svg#icon--map"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>