<section class="hotels" id="hotels">
    <div class="container">
        <div class="section-title hotels__title">
            <h2 class="section-title__title">популярные отели</h2>
            <p class="section-title__subtitle">уют и роскошь в лучших отелях мира</p>
            <p class="section-title__english">hotels</p>
        </div>

    </div>
    <div class="hotels__slider swiper">
        <div class="swiper-wrapper">
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_1.avif">
                <div class="card__body">
                    <span class="card__rating">5</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Villa Flori Como</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_2.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ritz-Carlton</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_3.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ikos Dassia</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_4.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_5.avif">
                <div class="card__body">
                    <span class="card__rating">4.9</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_1.avif">
                <div class="card__body">
                    <span class="card__rating">5</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Villa Flori Como</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_2.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ritz-Carlton</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_3.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ikos Dassia</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_4.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card swiper-slide">
                <img class="card__img" src="/images/hotels/slide_5.avif">
                <div class="card__body">
                    <span class="card__rating">4.9</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination hotels__slider-pagination"></div>

    </div>
    <div class="hotels__list">
        <div class="hotels__card card hotels__card--mobile">
                <img class="card__img" src="/images/hotels/slide_1.avif">
                <div class="card__body">
                    <span class="card__rating">5</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Villa Flori Como</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card hotels__card--mobile">
                <img class="card__img" src="/images/hotels/slide_2.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ritz-Carlton</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card hotels__card--mobile">
                <img class="card__img" src="/images/hotels/slide_3.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Ikos Dassia</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card hotels__card--mobile">
                <img class="card__img" src="/images/hotels/slide_4.avif">
                <div class="card__body">
                    <span class="card__rating">4.8</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card hotels__card--mobile hidden">
                <img class="card__img" src="/images/hotels/slide_5.avif">
                <div class="card__body">
                    <span class="card__rating">4.9</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">JW Marriott Marquis</span>
                        </div>

                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="hotels__card card hotels__card--mobile hidden">
                <img class="card__img" src="/images/hotels/slide_1.avif">
                <div class="card__body">
                    <span class="card__rating">5</span>
                    <div class="card__bottom">
                        <div class="card__bottom-top">
                            <span class="card__title">Villa Flori Como</span>
                        </div>
                        <a class="card__link" href="#">
                            узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
            <button class="btn hotels__more" id="more">больше отелей</button>
    </div>
</section>