<section class="revievs" id="revievs">
    <div class="container">
        <div class="section-title revievs__title">
            <h2 class="section-title__title">отзывы</h2>
            <p class="section-title__subtitle">Впечатления наших путешественников</p>
            <p class="section-title__english">Reviews</p>
        </div>

        <div class="revievs__inner">
            <div class="revievs__slider swiper">
                <div class="swiper-wrapper">
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_1.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_2.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_1.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_2.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_2.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                    <div class="revievs__card revievs-card swiper-slide">
                        <div class="revievs-card__img">
                            <img src="/images/revievs/avatar_2.png" alt="">
                        </div>

                        <div class="revievs-card__top">
                            <ul class="revievs-card__rating">
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                                <li class="revievs-card__star"></li>
                            </ul>
                            <p class="revievs-card__name">Александр Г. из Санкт-Петербурга</p>
                            <p class="revievs-card__descr">
                                Летал в Тайланд 10.05.23 в отель The Silver Palm Wellness Resort
                            </p>
                        </div>
                        <p class="revievs-card__text">Путешествие в Таиланд оказалось невероятным благодаря вашим
                            услугам.
                            Профессиональное планирование, отличные рекомендации по местам для посещения и великолепный
                            выбор отелей. Обязательно вернусь к вам снова.</p>
                    </div>
                </div>
                <div class="swiper-pagination revievs__slider-pagination"></div>
            </div>
            <div class="revievs__slider-prev">
                <svg class="icon">
                    <use xlink:href="/images/sprite.svg#icon--arrow_left"></use>
                </svg>
            </div>
            <div class="revievs__slider-next">
                <svg class="icon">
                    <use xlink:href="/images/sprite.svg#icon--arrow_right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>